$BlueColor: blue;

$lightgreenColor: lightgreen;





body {
  background-color: $lightgreenColor;
}

h1 {
  color: $BlueColor;
}

h2{
  color: $BlueColor;
}

p {
  color: $BlueColor;
}
